[default]
javascript-can-access-clipboard=false
hint-offset-top=0
file-sync-interval=120
download-gradient-end={{THEME['LIGHT_CYAN']}}
status-allowed-color={{THEME['LIGHT_CYAN']}}
tab-number-color={{THEME['LIGHT_CYAN']}}
enable-default-context-menu=true
editable=false
background-tabs=false
enable-webgl=false
minimum-logical-font-size=5
enable-page-cache=false
cache-model=webbrowser
sans-serif-font-family=Liberation Sans
prompt-color={{THEME['LIGHT_CYAN']}}
complete-searchengines=false
update-search-delay=200
fantasy-font-family=Liberation Serif
hint-fg-color={{THEME['WHITE']}}
sync-files=all
default-height=600
javascript-api=automatic
scrollbars=false
hint-bg-color={{THEME['BLACK']}}
show-single-tab=true
private-color={{THEME['LIGHT_GREEN']}}
enable-developer-extras=false
complete-bookmarks=true
zoom-level=1.00
download-use-external-program=false
enable-xss-auditor=true
custom-encoding=
print-previewer=
normal-completion-fg-color={{THEME['LIGHT_CYAN']}}
close-tab-focus-policy=left
enable-dns-prefetching=true
new-tab-position-policy=right
mouse-cycles-through-tabs=true
auto-shrink-images=true
print-backgrounds=true
enable-caret-browsing=false
enable-scripts=true
adblocker-filterlist=
proxy=false
user-agent=
full-content-zoom=false
editor=xterm -e vim dwb_uri
enable-accelerated-compositing=false
hsts=false
enable-private-browsing=false
enable-favicon=true
hint-active-color={{THEME['GREEN']}}
resizable-text-areas=true
javascript-schemes=true
load-on-focus=false
download-gradient-start={{THEME['LIGHT_CYAN']}}
hint-normal-color={{THEME['WHITE']}}
spell-checking-languages=
cookies-accept-policy=always
font-nofocus=
status-blocked-color={{THEME['RED']}}
download-fg-color={{THEME['LIGHT_CYAN']}}
enable-plugins=true
enable-frame-flattening=false
ssl-use-system-ca-file=true
cookies-store-policy=session
bars-padding=0
active-completion-fg-color={{THEME['LIGHT_CYAN']}}
hint-font=12px bold PragmataPro
progress-bar-full-color={{THEME['WHITE']}}
tabbed-browsing=true
hint-highlight-links=false
active-completion-bg-color={{THEME['BLACK']}}
enable-spell-checking=false
font-hidden-statusbar=normal 10px helvetica
tab-normal-fg-color-2={{THEME['LIGHT_BLUE']}}
tab-normal-fg-color-1={{THEME['LIGHT_BLUE']}}
default-monospace-font-size=10
save-session=true
tabbar-visible=2
auto-insert-mode=false
tab-normal-bg-color-2={{THEME['DARK_GRAY']}}
tab-normal-bg-color-1={{THEME['DARK_GRAY']}}
serif-font-family=Liberation Serif
accept-language=
enable-html5-local-storage=true
tab-protected-color={{THEME['LIGHT_BLUE']}}
hint-letter-seq=aoeuhtnspgcrlqjkmwvz
progress-bar-style=default
maximum-tabs=0
passthrough-keys=webkit
enable-html5-database=true
hint-autofollow=true
enable-dom-paste=false
javascript-can-open-windows-automatically=false
max-visible-completions=11
hint-border=1px solid {{THEME['DARK_GRAY']}}
widget-packing=dtws
ssl-trusted-color={{THEME['LIGHT_CYAN']}}
enable-java-applet=true
hints-key-lock=250
navigation-history-max=500
hint-style=letter
enable-site-specific-quirks=false
auto-resize-window=false
zoom-step=0.10
default-font-family=Liberation Sans
ssl-untrusted-color={{THEME['RED']}}
plugin-blocker=true
startpage=dwb:bookmarks
normal-completion-bg-color={{THEME['BLACK']}}
cookie-expiration=0
cursive-font-family=Liberation Serif
default-encoding=
error-color={{THEME['RED']}}
searchengine-submit-pattern=
hint-opacity=0.80
font-entry=
proxy-url=
font=PragmataPro 12px
monospace-font-family=PragmataPro
addressbar-dns-lookup=false
enable-universal-access-from-file-uris=true
background-color={{THEME['BLACK']}}
do-not-track=true
progress-bar-empty-color={{THEME['WHITE']}}
default-width=800
single-instance=true
auto-completion=false
minimum-font-size=5
font-completion=
enable-spatial-navigation=false
download-directory=
adblocker=false
download-external-command=xterm -e wget dwb_uri -O dwb_output --load-cookies dwb_cookies
user-stylesheet-uri=
auto-load-images=true
tab-active-fg-color={{THEME['LIGHT_CYAN']}}
hint-offset-left=0
history-length=500
tab-active-bg-color={{THEME['BLACK']}}
download-bg-color={{THEME['BLACK']}}
download-no-confirm=false
enable-file-access-from-file-uris=true
complete-history=true
close-last-tab-policy=ignore
tab-key-cycles-through-elements=true
enforce-96-dpi=false
ssl-strict=false
scroll-step=0.00
complete-userscripts=false
foreground-color={{THEME['LIGHT_CYAN']}}
message-delay=2
scheme-handler=
default-font-size=12
enable-offline-web-application-cache=true
