!! vim: ft=xdefaults

*background: {{COLORSCHEME['BACKGROUND']}}
*foreground: {{COLORSCHEME['FOREGROUND']}}
*cursorColor: {{COLORSCHEME['CURSOR']}}

*color0: {{COLORSCHEME['BLACK']}}
*color1: {{COLORSCHEME['RED']}}
*color2: {{COLORSCHEME['GREEN']}}
*color3: {{COLORSCHEME['YELLOW']}}
*color4: {{COLORSCHEME['BLUE']}}
*color5: {{COLORSCHEME['MAGENTA']}}
*color6: {{COLORSCHEME['CYAN']}}
*color7: {{COLORSCHEME['LIGHT_GRAY']}}
*color8: {{COLORSCHEME['DARK_GRAY']}}
*color9: {{COLORSCHEME['LIGHT_RED']}}
*color10: {{COLORSCHEME['LIGHT_GREEN']}}
*color11: {{COLORSCHEME['LIGHT_YELLOW']}}
*color12: {{COLORSCHEME['LIGHT_BLUE']}}
*color13: {{COLORSCHEME['LIGHT_MAGENTA']}}
*color14: {{COLORSCHEME['LIGHT_CYAN']}}
*color15: {{COLORSCHEME['WHITE']}}
