!! vim: ft=xdefaults

*background: {{THEME['BACKGROUND']}}
*foreground: {{THEME['FOREGROUND']}}
*cursorColor: {{THEME['CURSOR']}}

*color0: {{THEME['BLACK']}}
*color1: {{THEME['RED']}}
*color2: {{THEME['GREEN']}}
*color3: {{THEME['YELLOW']}}
*color4: {{THEME['BLUE']}}
*color5: {{THEME['MAGENTA']}}
*color6: {{THEME['CYAN']}}
*color7: {{THEME['LIGHT_GRAY']}}
*color8: {{THEME['DARK_GRAY']}}
*color9: {{THEME['LIGHT_RED']}}
*color10: {{THEME['LIGHT_GREEN']}}
*color11: {{THEME['LIGHT_YELLOW']}}
*color12: {{THEME['LIGHT_BLUE']}}
*color13: {{THEME['LIGHT_MAGENTA']}}
*color14: {{THEME['LIGHT_CYAN']}}
*color15: {{THEME['WHITE']}}
