[user]
	name = {{name}}
	email = {{email}}
[core]
  editor = vim
[push]
  default = simple
[branch]
  autosetuprebase = always
[color]
  ui = true
[merge]
  tool = vimdiff
  conflictstyle = diff3
[rebase]
  autosquash = true
[mergetool]
  prompt = false
  keepBackup = false
[alias]
  c = commit -v
  ac = !git add . && git commit -v
  ca = commit -v --amend
  cob = checkout -b
  coB = checkout -B
  dp = !git diff --stat | fpp
  ic = commit --allow-empty -m 'Initial commit'
  l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  a = add -A
  s = status --short --branch
  sp = !git status --short | fpp
  ss = show
  ssp = !git show --stat | fpp
  d = diff --patch --stat
  rom = !git fetch origin master && git checkout master && git reset --hard origin/master
  rum = !git fetch upstream master && git checkout master && git reset --hard upstream/master && git push -f origin master
  lb = for-each-ref --sort=-committerdate refs/heads --format='%(committerdate:short) %(refname:short)'
  po = !git push origin "$(git rev-parse --abbrev-ref HEAD)"
  pfo = !git push -f origin "$(git rev-parse --abbrev-ref HEAD)"
  upr = !git add -u && git commit --amend --no-edit && git push -f origin "$(git rev-parse --abbrev-ref HEAD)"
  exec = "!exec "
  root = !git rev-parse --show-toplevel
