[user]
  name = {{fullName}}
  email = {{email}}
[core]
  editor = vim
  pager = "diff-so-fancy | less --tabs=4 -RFX"
[interactive]
  diffFilter = diff-so-fancy
[push]
  default = simple
[branch]
  autosetuprebase = always
[color]
  ui = true
[merge]
  tool = vimdiff
  conflictstyle = diff3
[rebase]
  autosquash = true
[mergetool]
  prompt = false
  keepBackup = false
[alias]
  c = commit -v
  ca = commit -v --amend
  cob = checkout -b
  ic = commit --allow-empty -m 'Initial commit'
  l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  a = add -A
  d = diff --patch --stat
  rom = !git fetch origin master && git checkout master && git reset --hard origin/master
  rum = !git fetch upstream master && git checkout master && git reset --hard upstream/master && git push -f origin master
  lb = for-each-ref --sort=-committerdate refs/heads --format='%(committerdate:short) %(refname:short)'
  po = !git push origin "$(git rev-parse --abbrev-ref HEAD)"
  pfo = !git push -f origin "$(git rev-parse --abbrev-ref HEAD)"
  upr = !git add -u && git commit --amend --no-edit && git push -f origin "$(git rev-parse --abbrev-ref HEAD)"
  root = !git rev-parse --show-toplevel
  rc = rebase --continue
  ra = rebase --abort
  rs = rebase --skip
  s = status --short
  ss = show --stat
