#!/bin/sh
#
# This file is owned by {{playbook_dir}}
#
# Copied from /etc/X11/Xsession

SESSIONFILES=$(run-parts --list {{startup_dir}})
if [ -n "$SESSIONFILES" ]; then
  set +e
  for SESSIONFILE in $SESSIONFILES; do
    . $SESSIONFILE
  done
  set -e
fi
