! vim: ft=xdefaults

URxvt.transparent: false
URxvt.letterSpace: -1
URxvt.lineSpace: 1
URxvt.internalBorder: 10
URxvt.cursorUnderline: true
URxvt.cursorBlink: true
URxvt.scrollBar: false
URxvt.saveLines: 0
URxvt.font: xft:PragmataPro:medium:size={{THEME['FONT_SIZE']}}
URxvt.boldFont: xft:PragmataPro:bold:size={{THEME['FONT_SIZE']}}
URxvt.perl-ext-common: clipboard

! Remove C-V mapping
URxvt.iso14755: false

URxvt.keysym.C-S-V: perl:clipboard:paste
