! vim: ft=xdefaults

URxvt.transparent: false
URxvt.letterSpace: -1
URxvt.lineSpace: 1
URxvt.internalBorder: 10
URxvt.cursorUnderline: true
URxvt.cursorBlink: true
URxvt.scrollBar: false
URxvt.saveLines: 0
URxvt.font: xft:PragmataPro:medium:size={{THEME['FONT_SIZE']}}
URxvt.boldFont: xft:PragmataPro:bold:size={{THEME['FONT_SIZE']}}
URxvt.perl-ext-common: clipboard

! Remove C-V mapping
URxvt.iso14755: false

URxvt.keysym.C-S-V: perl:clipboard:paste

URxvt.background: {{THEME['BACKGROUND']}}
URxvt.foreground: {{THEME['FOREGROUND']}}
URxvt.cursorColor: {{THEME['CURSOR']}}

URxvt.color0: {{THEME['BLACK']}}
URxvt.color1: {{THEME['RED']}}
URxvt.color2: {{THEME['GREEN']}}
URxvt.color3: {{THEME['YELLOW']}}
URxvt.color4: {{THEME['BLUE']}}
URxvt.color5: {{THEME['MAGENTA']}}
URxvt.color6: {{THEME['CYAN']}}
URxvt.color7: {{THEME['LIGHT_GRAY']}}
URxvt.color8: {{THEME['DARK_GRAY']}}
URxvt.color9: {{THEME['LIGHT_RED']}}
URxvt.color10: {{THEME['LIGHT_GREEN']}}
URxvt.color11: {{THEME['LIGHT_YELLOW']}}
URxvt.color12: {{THEME['LIGHT_BLUE']}}
URxvt.color13: {{THEME['LIGHT_MAGENTA']}}
URxvt.color14: {{THEME['LIGHT_CYAN']}}
URxvt.color15: {{THEME['WHITE']}}
